%h1 Dashboard


.row
  .col-sm-6
    .card
      .card-body
        %h4.card-title
          Outgoing Letters
        %p.card-text
          Amount of Outgoing Letters
          = @all_outgoing_letter
        = link_to "Go to Outgoing Letters", outgoing_letters_path, class: "btn btn-primary"
  .col-sm-6
    .card
      .card-body
        %h4.card-title
          Incoming Letters
        %p.card-text
          Amount of Incoming Letters
          = @all_outgoing_letter
        = link_to "Go to Incoming Letters", outgoing_letters_path, class: "btn btn-primary"
        