= form_for @outgoing_letter do |f|
  - if @outgoing_letter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@outgoing_letter.errors.count, "error")} prohibited this outgoing_letter from being saved:"
      %ul
        - @outgoing_letter.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
