%h1 Listing outgoing_letters

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @outgoing_letters.each do |outgoing_letter|
      %tr
        %td= outgoing_letter.title
        %td= outgoing_letter.description
        %td= link_to 'Show', outgoing_letter
        %td= link_to 'Edit', edit_outgoing_letter_path(outgoing_letter)
        %td= link_to 'Destroy', outgoing_letter, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Outgoing letter', new_outgoing_letter_path
