%p#notice= notice

%p
  %b Title:
  = @outgoing_letter.title
%p
  %b Description:
  = @outgoing_letter.description

= link_to 'Edit', edit_outgoing_letter_path(@outgoing_letter)
\|
= link_to 'Back', outgoing_letters_path
