.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand Catat
      .inner.cover
        %h1.cover-heading Welcome to Catat
        %p.lead An app used for optimizing documentations
        %p.lead
          = link_to "Go to Dashboard", dashboard_index_path, class: "btn btn-primary btn-lg btn-block"
      .mastfoot
        .inner
          %p
            Build by
            = succeed "." do
              %a{:href => "https://github.com/fybwid"} fybwid